* {
	margin: 0;
	padding: 0;
}
html, body {
	height: 100%;
}
body {
	display: flex;
	flex-direction: column;
	background-color: #272822;
}
#app {
	display: flex;
	flex-direction: row;
	height: 100%;
}
#editor {
	flex: 1;
}
#start-btn {
	display: inline-block;
	position: absolute;
	right: 2em;
	bottom: 2em;
	font-weight: bold;
	font-size: 24px;
}
.maze {
	display: flex;
	flex-direction: row;
	min-height: 15vw;
	max-height: 15vw;
	flex: 1;
}
.maze-row {
	display: flex;
	flex-direction: row;
	box-sizing: border-box;
	width: 100%;
}
.maze-container {
	display: flex;
	margin: 4px;
	flex: 1;
	flex-wrap: wrap;
}
.maze-row {
	display: flex;
	flex-direction: row;
	box-sizing: border-box;
	width: 100%;
}
.maze-container {
	display: flex;
	margin: 4px;
	flex: 1;
	flex-wrap: wrap;
}
.maze-cell {
	box-sizing: border-box;
	display: flex;
	background-color: rgb(255, 30, 0);
}
.wall-top { border-top: 1px solid lightgray }
.wall-bottom { border-bottom: 1px solid lightgray }
.wall-left { border-left: 1px solid lightgray }
.wall-right { border-right: 1px solid lightgray }
